@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Sacramento');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    /*border: solid 1px black;*/
    margin: 0;
    padding: 0;
    height: auto;
}

html{
    display: block;
}

a{
    color: initial;
    text-decoration: initial;
}

.home{
    background: #A5DEE4;
    width: 100%;
    height: 300px;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 55px;
    color: #08192D;
    padding-left: 13%;
    padding-top: 20px;
}

nav{
    text-align: right;
}

.content ul {
    padding-left: 58%;
    text-align: right;
    transform: translateY(-80px);
    width: 500px;
    /*background-color: #A5DEE4;*/
}
 .content ul li {
    display: inline-block;
    color: #08192D;
    padding: 25px;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 20px;

}
 .content ul li:hover{
    opacity: 0.7;
    text-shadow: 5px 5px 130px rgba(168,216,185,0.8);
    transform:translate(-2px,-2px);
}

.bottom{
    background-color: #A5DEE4;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}


.bottom ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 17px;
    opacity: 0.8;
}

.flickr ul{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    opacity: 0.85;
    margin-left: 10px;
    margin-bottom: 1%;
}

.flickr_photo{
    align-items: center;
    justify-content: center;
    /*padding: 10px;*/
}

.flickr_photo ul li{
    width: 31.7%;
    height: 30%;
    flex-direction: row;
    list-style: none;
    display: inline-block;
    overflow: hidden;
    padding: 5px;
}

.flickr_photo ul li:hover{
    opacity: 0.8;
}

.intro{
    margin: auto;
    width: 60%;
    list-style: none;
}
.intro h1{
    font-family: 'Raleway', sans-serif;
    justify-content:center;
    align-items:center;
    padding: 10px;
    margin: 10px;
}

.intro h2{
    font-family: 'Raleway', sans-serif;
    justify-content:center;
    align-items:center;
    margin: 10px;
}

.resume,.flickr,.flickr_photo{
    display: flex;
    width: 60%;
    margin: auto;
}
.left{
    flex:5;
    width: 100%;
    height: 100%;
}
.right{
    list-style: none;
    flex:2;
    width: 100%;
    height: 100%;
}

.contact,.skill,.cv,.social,.about,.edu,.job{
    margin: 10px;
    font-family: 'Raleway', sans-serif;
}

.edu_detail,.year{
    list-style: none;
}

.year ul li{
    list-style: none;
}

.year ul{
    margin-top: 5px;
    margin-bottom: 10px;
}

.left_title{
    margin-bottom: 10px;
    font-size: 25px;
}

.social li,.skill li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.left_title::after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 6px;
    background-color: #A5DEE4;
    margin-left: 8px;
}

.right a{
    color: #6699A1;
}

.right a:hover{
    opacity: 0.7;
}

.hr{
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #A5DEE4;
    opacity: 0;
}

.intro_img{
    transform: translateX(-18.5%);
    text-align: right;
    margin-top: -130px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.leftnright{
    transform: translateY(-6%);
}

.intro_img img{
    box-shadow: 10px 10px 90px rgba(0,0,0,0.25);
    filter: brightness(110%);
}

