@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed|Sacramento');
@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    /*border: solid 1px black;*/
    margin: 0;
    padding: 0;
}
html, body {
    /*background-color: #A8D8B9;*/
}

a{
    color: initial;
    text-decoration: initial;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 55px;
    color: #08192D;
    padding-left: 170px;
    padding-top: 20px;
    transform: translateX(-10px);
}

nav ul {
    margin-left: 970px;
    text-align: right;
    transform: translateY(-80px);
    width: 500px;
    background-color: #A8D8B9;
}

nav ul li {
    display: inline-block;
    color: #08192D;
    padding: 25px;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 20px;

}

nav ul li:hover{
    opacity: 0.7;
    text-shadow: 5px 5px 130px rgba(168,216,185,0.8);
    transform:translate(-2px,-2px);

}

.work_title{
    justify-content:center;
    align-items:center;
    display:flex;
}

.work_title ul{
    margin-top: 20px;

}

.work_title ul li{
    flex-direction: row;
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 20px;
    padding: 20px;

}

.work_title ul li:hover{
    color: black;
    text-shadow: 5px 5px 130px   rgba(168,216,185,0.8);
    transform:translate(-2px,-2px);
}

.home{
    background: #A8D8B9;
    width: 100%;
    height: 300px;
}

#Photography,#Painting,#Photoshop,#Blender,#Cooking{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom{
    background-color: #A8D8B9;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.bottom ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 17px;
    opacity: 0.8;
}

.flickr ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    opacity: 0.85;
    margin-left: 10px;
}

.flickr_photo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.flickr_photo ul li{
    width: 243px;
    height: 162px;
    flex-direction: row;
    list-style: none;
    display: inline-block;
    /*justify-content: space-evenly;*/
    overflow: hidden;
    padding: 5px;
}

.flickr_photo ul li:hover{
    opacity: 0.8;
}

.intro{
    margin-left: 400px;
    margin-right: 400px;
    position: relative;
    list-style: none;
}
.intro h1{
    font-family: 'Raleway', sans-serif;
    justify-content:center;
    align-items:center;
    padding: 10px;
    margin: 10px;
}

.intro h2{
    font-family: 'Raleway', sans-serif;
    justify-content:center;
    align-items:center;
    margin: 10px;
}

/*.intro h1{*/
    /*margin-top: 45px;*/
/*}*/

.resume,.flickr,.flickr_photo{
    display: flex;
    margin-left: 400px;
    margin-right: 400px;
    position: relative;
}
.left{
    flex:5;
    width: 100%;
    height: 100%;
}
.right{
    list-style: none;
    flex:2;
    width: 100%;
    height: 100%;
}

.social{
    margin: 10px;
    font-family: 'Raleway', sans-serif;
}

.contact,.skill,.cv{
    margin: 10px;
    font-family: 'Raleway', sans-serif;
}
.about{
    margin: 10px;
    font-family: 'Raleway', sans-serif;
}
.edu{
    margin: 10px;
    font-family: 'Raleway', sans-serif;
}
.job{
    margin: 10px;
    font-family: 'Raleway', sans-serif;
}

.edu_detail{
    list-style: none;
}

.year{
    list-style: none;
}
.year ul li{
    list-style: none;
}

.year ul{
    margin-top: 5px;
    margin-bottom: 10px;
}

.left_title{
    margin-bottom: 10px;
    font-size: 25px;
}

.social li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.skill li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.left_title::after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 6px;
    background-color: #A8D8B9;
    margin-left: 8px;
}

.right a{
    color: #5DAC81;
}

.right a:hover{
    opacity: 0.7;
}

.hr{
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #A8D8B9;
    opacity: 0;
}

.intro_img{
    transform: translateX(890px);
    margin-top: -130px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.leftnright{
    transform: translateY(-75px);
}

.intro_img img{
    box-shadow: 10px 10px 90px rgba(0,0,0,0.25);
}

